.pageWrapper {
  padding-top: 80px;
}

.projectTitle {
  position: relative;
  text-align: center;
  margin: 20px 0;
}

.projectInfo {
  position: relative;
}

.projectCategories {
  position: relative;
}

.projectDescription {
  position: relative;
  text-align: center;
}

.projectContent {
  position: relative;
}

.projectContentTitle {
  margin-top: 20px;
  margin-bottom: 10px;
}

.projectRow {
  height: min-content;
  margin-top: 30px;
  margin-bottom: 30px;
}

.projectRow > div > h2 {
  padding-bottom: 10px;
}

.linkTitle {
  margin-top: 10px;
}

.backCross {
  max-width: 43px;
  border-radius: 50px;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 3px 0px;
  padding: 10px;
  background-color: #ffffff;
  color: #444444;
  font-size: 44px;
  line-height: 21px;
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.backCross:hover {
  background-color: #23966c;
  color: #ffffff;
  transform: rotate(180deg);
  transform: translateX(-50%);
}

.projectInfo > h3,
.projectCategories > h3 {
  margin-bottom: 5px;
}

.videoWrapper {
  position: relative;
  padding-bottom: 50%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-bottom: 30px;
  width: 100%;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.projectImage {
  border-radius: 0 !important;
  box-shadow: none !important;
}

.body {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* lg */
@media only screen and (min-width: 1200px) {
  .body {
    max-width: 960px;
  }
}

/* sm */
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .body {
    max-width: 768px;
  }
}

/* xs */
@media only screen and (max-width: 768px) {

  .titleRow {
    height: min-content;
  }

  .projectContent {
    width: 100%;
  }

  .projectRow {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .projectRow > div > p,h2 {
    text-align: left;
  }

  .projectImage {
    position: relative !important;
  }

  .projectDescription,
  .projectTitle {
    text-align: left;
  }
  .projectCategories,
  .projectInfo {
    position: absolute;
  }
}
