#redLine {
  background-color: var(--red); 
}

#blueLine {
  background-color: var(--blue); 
}

#greenLine {
  background-color: var(--green); 
}

/* Custom elements */
.landing {
  opacity: 0;
}

.experienceh4 {
  margin-bottom: 0px;
  /* This keeps the textbox to the min width, because it's used to figure out the underline length */
  width: min-content; 
  /* Keeps everything on one line, otherwise and more will split bc of above min-content */
  white-space: nowrap;
}

.job {
  padding-bottom: 5px;
}

.at {
  font-weight: 300;
}

.feature {
  background: linear-gradient(#419BF9, var(--blue));
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  height: 350px;
  margin-top: 30px;
}

#miraj-image {
  background: url("./images/miraj/miraj.jpg") no-repeat center center;
  background-size: cover;
}

#tgc-image {
  background: url("./images/thisgirlcodes/thisgirlcodes.png") no-repeat center center;
  background-size: cover;
}

#flux-image {
  background: url("./images/flux/flux.png") no-repeat center center;
  background-size: cover;
}

#tgc-logo {
  max-width: 100px;
  display: block;
  margin: auto;
}

#miraj-logo {
  max-height: 25px;
  display: block;
  margin: auto;
}

#flux-logo {
  max-height: 25px;
  display: block;
  margin: auto;
}

.feature-title {
  margin: 20px 0 0 0;
}

.project-tags {
  margin-bottom: 32px;
}

.project-description {
  margin-bottom: 8px;
}

/* CSS to support scrollmagic animation */
.other-spacer {
  margin: 0 0 0 15px;
  padding-right: 15px;
  position: relative;
  width: 100%
}

#other-title {
  padding-left: 15px;
  white-space: nowrap;
}

/* Starting states */

.underline {
  height: 7px;
  width: 0;
  margin-bottom: 15px;
}

#skills {
  opacity: 0;
}

.careerCover {
  height: 25%;
  width: 100%;
  background-color: var(--background);
  position: absolute;
  transform-origin: right center inherit;
}

.gradate {
  background: linear-gradient(to right, var(--red) 15%, var(--blue) 75%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {

  .landing {
    margin-top: 200px;
    margin-bottom: 100px;
  }

  .other-spacer {
    flex: 0 0 25%;
    max-width: 25%;
  }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 768px) and (max-width: 1199px) {

  .landing {
    margin-top: 150px;
    margin-bottom: 100px;
  }

  .other-spacer {
    flex: 0 0 25%;
    max-width: 25%;
  }
}


/* Small devices (landscape phones, 576px and up) */

@media (max-width: 767px) {

  .landing {
    margin-top: 120px;
    margin-bottom: 80px;
  }

  .landing>h3 {
    padding-top: 20px;
  }

  .feature-title {
    padding-bottom: 5px;
  }

  #other-title {
    width: 100%;
  }

  .spacer {
    padding: 30px 0;
  }
}



