@keyframes fadein {
  from {
    top: 30px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes fadeInSlow{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}


.red {
  color: #F67258;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Source Sans Pro', sans-serif;
  color: #303030;
}

a:hover {
  text-decoration: none;
  color: #F67258;
  transition: all 100ms;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 300;
}

h3 {
  font-weight: 700;
  text-transform: uppercase;
}

.nav-container{
  z-index: 10;
}

.nav {
  background-color: #ffffff;
  opacity: .95
}

.nav-link {
  font-weight: 300;
  padding: 15px 0;
}

.landing {
  animation: fadein .6s;
}

.teaser {
  animation: fadeInSlow 2s;
}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  h1 {
    font-size: 90px;
    line-height: 90px;
    letter-spacing: -1.5px;
  }
  
  h2 {
    font-size: 32px;
    line-height: 48px;
    letter-spacing: .45px;
  }

  h3 {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 2px;
  }

  .landing {
    margin-top: 200px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 768px) and (max-width: 1199px) {
  h1 {
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -1.5px;
  }

  h2 {
    font-size: 24px;
    line-height: 40px;
    letter-spacing: .45px;
  }

  h3 {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 2px;
  }

  .landing {
    margin-top: 150px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767px) {
  h1 {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: .2px;
  }

  h2 {
    font-size: 24px;
    line-height: 40px;
    letter-spacing: .45px;
  }

  h3 {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 1.5px;
  }

  .landing {
    margin-top: 125px;
  }
}



