/* Keyframes for landing animation */

@keyframes fadein {
  from {
    top: 30px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* Brand colors */

:root {
  --red: #F67258; 
  --blue: #4370B1;
  --green: #3EAE42;
}

.red {
  color: #F67258;
}

#redCode {
  background-color: var(--red); 
}

#blueCode {
  background-color: var(--blue); 
}

#greenCode {
  background-color: var(--green); 
}


/* Edits on built-in elements */

h1, h2, h3, h4, h5, h6, p, a, li {
  font-family: 'Source Sans Pro', sans-serif;
  color: #303030;
}

a:hover {
  text-decoration: none;
  color: #F67258;
  transition: all 100ms;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 300;
}

h3 {
  font-weight: 700;
  text-transform: uppercase;
}

h4 {
  font-weight: 700;
}

p {
  font-weight: 300;
  letter-spacing: .5px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  font-weight: 300;
  text-decoration: none;
}

.nav-container{
  z-index: 10;
}


/* Custom elements */

.nav {
  background-color: #ffffff;
  opacity: .95
}

.nav-link {
  font-weight: 300;
  padding: 15px 0;
}

.landing {
  animation: fadein 1s;
  padding-bottom: 100px;
}

.spacer {
  padding: 50px 0;
}

.experienceh4 {
  margin-bottom: 0px;
  /* This keeps the textbox to the min width, because it's used to figure out the underline length */
  width: min-content; 
  /* Keeps everything on one line, otherwise and more will split bc of above min-content */
  white-space: nowrap;
}

.job {
  padding-bottom: 5px;
}

.at {
  font-weight: 300;
}

/* Starting states */

.underline {
  height: 7px;
  width: 0;
}

#skills {
  opacity: 0;
}

.careerCover {
  height: 33%;
  width: 100%;
  background-color: white;
  position: absolute;
  transform-origin: right center inherit;
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  h1 {
    font-size: 90px;
    line-height: 90px;
    letter-spacing: -1.5px;
  }
  
  h2 {
    font-size: 32px;
    line-height: 48px;
    letter-spacing: .45px;
  }

  h3 {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 2px;
  }

  li {
    margin: 6px 0;
    font-size: 16px;
    letter-spacing: .5px;
  }

  .landing {
    margin-top: 200px;
  }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 768px) and (max-width: 1199px) {
  h1 {
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -1.5px;
  }

  h2 {
    font-size: 24px;
    line-height: 40px;
    letter-spacing: .45px;
  }

  h3 {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 2px;
  }

  h4 {
    font-size: 20px;
  }

  li {
    margin: 6px 0;
    font-size: 16px;
    letter-spacing: .5px;
  }

  .landing {
    margin-top: 150px;
  }
}


/* Small devices (landscape phones, 576px and up) */

@media (max-width: 767px) {
  h1 {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: .2px;
  }

  h2 {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: .45px;
  }

  h3 {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 1.5px;
    padding-bottom: 15px;
  }

  h4 {
    font-size: 18px;
  }

  li {
    margin: 5px 0;
    font-size: 16px;
    letter-spacing: .4px;
  }

  .landing {
    margin-top: 100px;
  }
}



