/* Brand colors for scout-mentor */
:root {
  --blue: #378BD2;
  --orange: #FFB51A;
}

#scout-hero {
  background: url("./images/scoutmentorship/cover-hd.png") no-repeat center center;
  background-size: cover;
}

/* Design section */


#design-block {
  background-color: var(--orange);
  height: min-content;
}

#design {
  max-width: 100%;
  opacity: 0;
  margin-top: 20px;
}

/* Prototype section */
#blue-strip {
  position: absolute;
  padding: 0;
  left: 0;
  width: 100vw;
  background-color: var(--blue);
}

.proto-img {
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
  background-color: #ffffff;
}

/* Test section */
#test-img {
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
  padding: 10px;
}

/* Develop section */
#code-block {
  background-color: #1E1E1E;
  padding: 20px;
}

#code {
  max-width: 100%;
}

/* Large devices */

@media (min-width: 992px) {
  #design-block {
    padding: 50px;
  }

  #blue-strip {
    height: 400px;
    margin-top: 50px;
  }
}

/* Medium devices */

@media (min-width: 768px) and (max-width: 991px) {
  #design-block {
    padding: 50px;
  }

  #blue-strip {
    height: 200px;
    margin-top: 50px;
  }
}


/* Small devices */

@media (max-width: 767px) {
  #design-block {
    padding: 20px;
  }

  #blue-strip {
    height: 150px;
    margin-top: 20px;
  }
}