/* Brand colors for tgc */
:root {
  --red: #F44B48; 
  --blue: #5D9BCF;
  --yellow: #FFE044;
  --orange: #F89751;
}

#tgc-hero {
  background: url("./images/thisgirlcodes/hero.jpg") no-repeat center center;
  background-size: cover;
}

/* Type Section */

#type-block {
  background-color: var(--red);
  padding: 32px;
}

#type-cover {
  position:absolute;
  background-color: var(--red);
  width: 100%;
  height: 100%;
  margin: -32px;
}

#type-block>p {
  color: #ffffff;
}

/* Logo section */

#logo-block {
  background-color: var(--blue);
  height: min-content;
}

#logo-cover {
  position:absolute;
  background-color: var(--blue);
  width: 100%;
  height: 100%;
  transform-origin: left;
}

/* Color Section */

#rosie {
  max-width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.ribbon-color {
  height: 100%;
}

.ribbon-text {
  white-space: nowrap;
}

.ribbon-text>p {
  margin-bottom: 0;
  line-height: 24px;
}

#rosie-red {
  background-color: var(--red);
}

#bad-bitch-blue {
  background-color: var(--blue);
}

#yellin-yellow {
  background-color: var(--yellow);
}

#overturn-orange {
  background-color: var(--orange);
}

/* Poster section */

#gradient-container {
  background-image: url("./images/thisgirlcodes/girl-blank.jpg");
  background-repeat: no-repeat;
  z-index: -1;
  height: 100%;
}

.gradient {
  background-image: url("./images/thisgirlcodes/girl-color.jpg");
  background-repeat: no-repeat;
}

#g1 {
  background-position-y: 0px;
}

#g2 {
  background-position-y: 20%;
}

#g3 {
  background-position-y: 40%;
}

#g4 {
  background-position-y: 60%;
}

#g5 {
  background-position-y: 80%;
}

#g6 {
  background-position-y: 100%;
}

.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  position: absolute;
  padding: 0;
 
  left:0;
  width: 100vw;
  max-width: 100%;
  
}

.scrolling-wrapper::-webkit-scrollbar {
    display: none;
}

.scrolling-wrapper>.scroll-img {
  display: inline-block;
  padding-right: 16px;
}

/* Social section */

#insta {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  
  .ribbon-row {
    width: 0%;
  }

  .text-block {
    margin-bottom: 25px;
  }

  #rosie {
    height: 500px;
    position: absolute;
  }

  .ribbons {
    height: 500px;
    padding-top: 15px;
  }

  .ribbon-container {
    margin-bottom: 15px;
    height: 100px;
  }

  #logo-block {
    padding: 100px;
  }

  #logo-cover {
    margin: -100px;
  }

  /* Poster section */

  #gradient-container {
    background-size: 624.5px 426px;
    width: 624.5px;
    position: absolute;
  }

  .gradient {
    background-size: 624.5px;
    height: 71px;
  }

  .scrolling-wrapper>.scroll-img {
    height:450px;
  }

  .scroll-spacer {
    height: 550px;
  }

  #pin {
    position: absolute;
    padding-top: 100px;
    width: 350px;
    height: 350px;
    margin-left: 100px;
  }

  #sticker {
    position: absolute;
    padding-top: 100px;
    width: 1122px;
    height: 350px;
  }

  #tote {
    margin-bottom: 100px;
  }

  #pin>img, #tote>img  {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
  }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199px) {
  .ribbon-row {
    width: 0%;
  }
  
  .text-block {
    margin-bottom: 25px;
  }

  #rosie {
    height: 400px;
    position: absolute;
  }

  .ribbons {
    height: 400px;
    padding-top: 15px;
  }

  .ribbon-container {
    margin-bottom: 5px;
    height: 80px;
  }

  /* Poster section */

  #gradient-container {
    background-size: 519.5px 360px;
    width: 519.5px;
    height: 360px;
    position: absolute;
  }
  
  .gradient {
    background-size: 519.5px;
    height: 60px;
  }

  #logo-block {
    padding: 75px;
  }

  #logo-cover {
    margin: -75px;
  }

  .scrolling-wrapper>.scroll-img {
    height:400px;
  }

  .scroll-spacer {
    height: 500px;
  }

  #pin {
    position: absolute;
    padding-top: 100px;
    width: 300px;
    margin-left: 100px;
  }

  #sticker {
    position: absolute;
    padding-top: 65px;
    width: 942px;
  }

  #tote {
    margin-bottom: 100px;
  }

  #pin>img, #tote>img  {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
  }
}

/* Medium devices */

@media (min-width: 768px) and (max-width: 991px) {

  .text-block {
    margin-bottom: 25px;
  }

  #rosie {
    height: 400px;
    position: absolute;
  }

  .ribbons {
    height: 400px;
    padding-top: 15px;
  }

  .ribbon-container {
    margin-bottom: 5px;
    height: 80px;
  }

  /* Poster section */

  #gradient-container {
    background-size: 555px 384px;
    width: 555px;
    position: absolute;
  }

  .gradient {
    background-size: 555px;
    height: 64px;
  }

  #logo-block {
    padding: 75px;
  }

  #logo-cover {
    margin: -75px;
  }

  .scrolling-wrapper>.scroll-img {
    height:400px;
  }

  .scroll-spacer {
    height: 500px;
  }

  #pin {
    position: absolute;
    padding-top: 100px;
    width: 225px;
    margin-left: 50px;
  }

  #sticker {
    position: absolute;
    padding-top: 50px;
    width: 702px;
  }

  #tote {
    margin-bottom: 75px;
  }

  #pin>img, #tote>img  {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
  }
}


/* Small devices (landscape phones, 576px and up) */

@media (max-width: 767px) {
  
  .text-block {
    margin-bottom: 25px;
  }

  #type-block {
    margin: 0 15px;
  }

  #logo-block {
    margin: 0 15px;
    padding: 75px;
  }

  #logo-cover {
    margin: -75px;
  }

  /* Poster section */

  #gradient-container {
    /* Width set in js */
    /* Background size set in js */
    position: absolute;
  }

  .gradient {
    background-size: 100%;
    /* Height is set is js */
  }

  #rosie {
    margin-top: 0px;
    max-width: 100%;
  }

  .ribbons {
    height: 200px;
    margin-bottom: 24px;
  }

  .ribbon-container {
    margin: 2px;
  }

  .ribbon-color {
    margin-bottom: 30px;
    margin-top: -5px;
    z-index: -1;
  }

  .ribbon-text {
    transform: rotate(90deg);
    transform-origin: 50% 50%;
    white-space: nowrap;
    padding: 0;
  }

  .ribbon-text>p {
    margin-bottom: 0;
    line-height: 24px;
  }

  .scrolling-wrapper>.scroll-img {
    height:200px;
  }

  .spacer {
    padding: 30px 0;
  }

  .scroll-spacer {
    height: 275px;
  }
}

