.logo {
  position: fixed;
  top: 10px;
  right: 20px;
  max-width: 40px;
  z-index: 2;
}

.MenuContainer {
  position: fixed;
  top: 0px;
  left: 15px;
  margin: 18px 0px;
  z-index: 2;
}

.MenuItem {
  font-family: "Source Sans Pro";
  font-weight: bold;
  color: #303030;
  text-decoration: none;
  font-weight: bold;
  padding: 0px;
  cursor: pointer;
  display: block;
  transition: all 150ms;
  z-index: 2;
}

.MenuItem:hover {
  color: #23966c;
  text-decoration: none;
}

.activeMenuItem {
  text-decoration: line-through;
}

.blurBar {
  width: 100vw;
  position: fixed;
  height: 50px;
  background-color: #ffffff;
  z-index: 5;
  position: fixed;
  left: 0;
  opacity: 0.95;
}

.version {
  font-size: 14px;
  position: fixed;
  right: 70px;
  top: 23px;
  z-index: 2;
}

/* lg */
@media only screen and (min-width: 1440px) {
  .MenuItem {
    font-size: 20px;
    text-align: left;
    display: inline;
    padding: 0 10px;
  }
}

/* md */
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .MenuItem {
    font-size: 20px;
    margin: 25px 10px;
    text-align: left;
    display: inline;
  }

  .MenuContainer {
    margin: 18px 0;
    position: fixed;
    left: 30px;
  }
}

/* sm */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .MenuExit {
    margin-left: 50px;
    margin-top: 40px;
    margin-bottom: 50px;
  }

  .MenuItem {
    font-size: 20px;
    display: inline;
    padding: 0 10px;
  }
}

/* xs */
@media only screen and (max-width: 767px) {
  .logo {
    max-width: 40px;
    right: 15px;
  }

  .MenuContainer {
    position: fixed;
    top: 0px;
    left: 15px;
    margin: 18px 0px;
    z-index: 2;
  }

  .MenuItem {
    font-size: 20px;
    display: inline;
    padding: 0 10px;
  }
  .blurBar {
    height: 60px;
  }
  .version {
    position: fixed;
    right: 70px;
    top: 25px;
    width: auto;
    height: auto;
  }
}
